@font-face {
	font-family: 'IranianSerifWeb-Regular';
	src:  url('../fonts/IranianSerifWeb-Regular.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
}
